@font-face {
  font-family: "Karla";
  src: url("./Karla-VariableFont_wght.ttf") format('truetype'),
    url("./Karla-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 400 800;
}

html, body {
  font-family: "Karla";
  height: 100%;
  margin: 0;
}

/* hr {
  border: 0.5px solid #555555;
} */

.container {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  flex-basis: 20%;
  flex-grow: 1;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar .sidebar-title {
  color: #555555;
  text-decoration: underline solid rgb(223, 208, 1) 4px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0px 5px 20px;
}

.sidebar .projects-container {
  padding: 5px 0px 5px 20px;
}

.sidebar .project-item {
  display: block;
  text-decoration: none;
  background-color: none;
  background: none;
  border: none;
  color: #555555;
  text-align: right;
  font-size: 25px;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.sidebar .project-item:hover {
  text-decoration: underline solid #555555 4px;
  text-decoration-color: rgb(223, 208, 1);
  padding-right: 25px;
  transition: padding 0.5s;
}

.item {
  background-color: #555555;
  color: white;
  width: 95%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
}

.item-content {
  display: flex;
  width: 100%;
  margin: 1rem;
  justify-content: flex-start;
}

.item-content > * {
  margin: 0rem 1rem 0rem 0rem;
}

.item-content .checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translate(-0%, -50%);
  outline: none;
  -webkit-appearance: none;
}

.item-content .checkbox:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: relative;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.item-content input[type="checkbox"]:hover {
  background-color: rgb(223, 208, 1);
  border-color: rgb(223, 208, 1);
}

.item-content input[type="checkbox"]:checked {
  background-color: rgb(223, 208, 1);
  border-color: rgb(223, 208, 1);
}

.item-content .date-form {
  background: none;
  color: white;
  padding: 0;
  border: none;
  font-family: "Karla";
  text-align: center;
  outline: none;
}

.item-content .date-form::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-left: 0px;
}

.item-content .item-input {
  font-family: "Karla";
  font-size: 15px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  background: none;
  color: white;
}

.item-content .item-description {
  flex-grow: 1;
}

.item-content .item-delete {
  font-family: "Karla";
  background-color: #555555;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-right: 0;
}

.item-content .item-delete:hover {
  color:rgb(223, 208, 1);
}

.button-container {
  display: flex;
  justify-content: flex-end; 
}

.board .button-container {
  width: 95%;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  justify-content: flex-start; 
}

.new-button {
  display: flex;
  text-decoration: none;
  background-color: #555555;
  border: none;
  color: white;
  font-size: 20px;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  margin: 0.25rem 0rem 0.25rem 0rem;
}

.new-button:hover {
  background-color:rgb(223, 208, 1);
}

.project-form .new-button {
  display: inline-block;
  font-size: 15px;
  padding: 0.3rem 0.7rem;
  margin: 0;
}

#lightbox{
  visibility:hidden;
  position:absolute;
  background: white;
  border-radius: 3px;
  color:white;
  z-index:100;
  padding:20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dimmer{
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .5;
  z-index:99;
}

.project-form .project-input {
  display: inline-block;
  font-family: "Karla";
  line-height: 15px;
  margin-right: 1rem;
  outline: 0;
  border-width: 0 0 1px;
}